<nav *ngIf="loggedIn()" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/profile">User Profile</a>
      </li>
    </ul>
    <form class="form-inline my-lg-0">
      <label>
        <input class="form-control" type="text" name="searchInput">
      </label>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
