<!--
Requirement 1.2 User Authenticated
Requirement 1.2.1 User will have the option to create new thread.
-->
<div class="row">
  <div class="col align-self-center">
    <form>
      <div class="form-row">
        <div class="col-8">
          <label for="threadName">Thread Name</label>
          <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="threadName" required>
        </div>
        <div class="col-8">
          <label for="threadDescription">Thread Description</label>
          <input [(ngModel)]="description" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="threadDescription" required>
        </div>
      </div>
      <div>
        <br>
        <button class="btn btn-primary" type="submit" (click)="createThread()">Create</button>
      </div>
    </form>
  </div>
</div>
